<div class="top-menu" ...>
  <div class="courses" #container *ngIf="course[0] as course">
    <course-card
      #cardRef1
      (courseSelected)="onCourseSelected($event)"
      [course]="courses[0]"
    >
      <img class="course-image" width="300" alt="Angular Logo" [src]="course.iconUrl" />

      <h5>Total lessons: 5</h5>
    </course-card>

    <course-card
      #cardRef1
      (courseSelected)="onCourseSelected($event)"
      [course]="courses[1]"
    >
      <h5>Total lessons: 10</h5>
    </course-card>
  </div>
</div>
